<div class="col-md-3 sidebar" style="float: left; background: lightgray; height: 100vh; width:30%;">
	<div class="header">
		<p class="title">Chat Rooms</p>
		<div class="new-chat-room">
			<button class="btn btn-primary" ng-click="openModal()"><strong>+</strong> New Chat Room</button>
		</div>
	</div>
	
	<section class="rooms-list">
		<div ng-repeat="room in chatRooms" class="chatrooms">
			<a ng-click="selectRoom(room)">{{ room.name }}</a>
		</div>
	</section>
</div>
<div id="right" style="float:right; width:60%;">
    <div ng-repeat="message in messages">{{message.content}}</div>
</div> 